<form
  class="form-horizontal"
  autocomplete="off"
  #editUserModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditUser' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'UserDetails' | localize" class="pt-3 px-2">
        <fieldset>
          <legend>{{'Account Info' | localize}}</legend>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="name">
                  {{ "Name" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    required
                    maxlength="32"
                    [(ngModel)]="user.name"
                    #nameModel="ngModel"
                    #nameEl
                  />
                  <abp-validation-summary
                    [control]="nameModel"
                    [controlEl]="nameEl"
                  ></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="surname">
                  {{ "Surname" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    name="surname"
                    id="surname"
                    required
                    maxlength="32"
                    [(ngModel)]="user.surname"
                    #surnameModel="ngModel"
                    #surnameEl
                  />
                  <abp-validation-summary
                    [control]="surnameModel"
                    [controlEl]="surnameEl"
                  ></abp-validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="userName">
                  {{ "UserName" | localize }}
                </label>
                <div class="col-md-9">
                  <input
                    type="text"
                    class="form-control"
                    name="userName"
                    id="userName"
                    required
                    minlength="2"
                    maxlength="32"
                    [(ngModel)]="user.userName"
                    #userNameModel="ngModel"
                    #userNameEl
                  />
                  <abp-validation-summary
                    [control]="userNameModel"
                    [controlEl]="userNameEl"
                  ></abp-validation-summary>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div class="img-wrap">
                  <img [src]="user.imgBase64 ?? 'assets/img/user.png'" alt="User Image"
                     class="img-fluid img-bordered"
                     />
                  <button type="button" class="close text-danger" aria-label="Close"
                          (click)="removeImage()"
                          *ngIf="user.imgBase64">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <input type="file"
                        class="form-control-file"
                        accept="image/*"
                        (change)="onUploadChange($event)"
                         />
                <small class="form-text text-muted">
                  {{'Max file size is (1MB)' | localize}}
                </small>
                <small class="text-danger" *ngIf="fileSizeError">
                  {{'Your file exceeds max file size (1MB)' | localize}}
                </small>
              </div>
            </div>
          </div>
        </fieldset>
        
        <fieldset>
          <legend>{{'Contact Details' | localize}}</legend>
          <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="emailAddress">
              {{ "EmailAddress" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="email"
                class="form-control"
                name="emailAddress"
                id="emailAddress"
                required
                maxlength="256"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
                [(ngModel)]="user.emailAddress"
                #emailAddressModel="ngModel"
                #emailAddressEl
              />
              <abp-validation-summary
                [control]="emailAddressModel"
                [controlEl]="emailAddressEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="title">
              {{ "Title" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="title"
                id="title"
                maxlength="100"
                [(ngModel)]="user.title"
                #titleModel="ngModel"
                #titleEl
              />
              <abp-validation-summary
                [control]="titleModel"
                [controlEl]="titleEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="phoneNumber">
              {{ "PhoneNumber" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="tel"
                class="form-control"
                name="phoneNumber"
                id="phoneNumber"
                maxlength="32"
                [(ngModel)]="user.phoneNumber"
                #phoneNumberModel="ngModel"
                #phoneNumberEl
              />
              <abp-validation-summary
                [control]="phoneNumberModel"
                [controlEl]="phoneNumberEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="organization">
              {{ "Organization" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="text"
                class="form-control"
                name="organization"
                id="organization"
                maxlength="400"
                [(ngModel)]="user.organization"
                #organizationModel="ngModel"
                #organizationEl
              />
              <abp-validation-summary
                [control]="organizationModel"
                [controlEl]="organizationEl"
              ></abp-validation-summary>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="website">
              {{ "Website" | localize }}
            </label>
            <div class="col-md-9">
              <input
                type="url"
                class="form-control"
                name="website"
                id="website"
                maxlength="2048"
                [(ngModel)]="user.website"
                #websiteModel="ngModel"
                #websiteEl
              />
              <abp-validation-summary
                [control]="websiteModel"
                [controlEl]="websiteEl"
              ></abp-validation-summary>
            </div>
          </div>
          
        </fieldset>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsActive" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                name="isActive"
                id="isActive"
                [(ngModel)]="user.isActive"
              />
              <label class="custom-control-label mt-2" for="isActive"></label>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'UserRoles' | localize" class="pt-3 px-2">
        <div class="form-group row mb-0">
          <ng-container *ngFor="let role of roles; let i = index">
            <div class="col-md-6">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  [id]="'role_' + i"
                  [checked]="isRoleChecked(role.normalizedName)"
                  (change)="onRoleChange(role, $event)"
                />
                <label class="custom-control-label" [for]="'role_' + i">
                  {{ role.name }}
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editUserModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
