<form
  class="form-horizontal"
  autocomplete="off"
  #editOrderForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditOrder#' + order.id | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'OrderDetails' | localize" class="pt-3 px-2">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group required">
              <label class="col-form-label" for="OrderDate">
                {{ "OrderDate" | localize }}
              </label>
                <input
                  type="datetime"
                  class="form-control disabled"
                  name="OrderDate"
                  id="OrderDate"
                  required
                  readonly
                  [value]="order.creationTime | date:'medium'"
                />
            </div>
          </div>
          <div class="col-md-4">
            <label class="col-form-label" for="paymentMethod">
              {{ "Payment Method" | localize }}
            </label>
            <span id="paymentMethod">
              <input
                  type="text"
                  class="form-control disabled"
                  name="paymentMethod"
                  id="paymentMethod"
                  required
                  readonly
                  [value]="AppPaymentMethod.getName(order.paymentMethod) | localize"
                />
            </span>  
          </div>
          <div class="col-md-4">
            <div class="form-group required">
              <label class="col-form-label" for="Status">
                {{ "Status" | localize }}
              </label>
                <select
                  class="form-control"
                  name="Status"
                  id="Status"
                  [(ngModel)]="order.status"
                  #StatusModel="ngModel"
                  #StatusEl
                >
                  <option [value]="AppOrderStatus.Pending">{{ AppOrderStatus.getName(AppOrderStatus.Pending) | localize}}</option>
                  <option [value]="AppOrderStatus.Processing">{{ AppOrderStatus.getName(AppOrderStatus.Processing) | localize}}</option>
                  <option [value]="AppOrderStatus.Shipping">{{ AppOrderStatus.getName(AppOrderStatus.Shipping) | localize}}</option>
                  <option [value]="AppOrderStatus.Completed">{{ AppOrderStatus.getName(AppOrderStatus.Completed) | localize}}</option>
                  <option [value]="AppOrderStatus.Returned">{{ AppOrderStatus.getName(AppOrderStatus.Returned) | localize}}</option>
                </select>
                <abp-validation-summary
                  [control]="StatusModel"
                  [controlEl]="StatusEl"
                ></abp-validation-summary>
            </div>
          </div>
        </div>
        <table class="table table-head-fixed">
          <thead>
            <tr>
              <th>{{'Product' | localize}}</th>
              <th>{{'Quantity' | localize}}</th>
              <th>{{'UnitPrice' | localize}}</th>
              <th>{{'Subtotal' | localize}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of order.orderDetails">
              <td>{{item.product.name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.unitPrice}}</td>
              <td>{{item.unitPrice | currency }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td><strong>{{'Total' | localize}}</strong> </td>
              <td><strong>{{total | currency }}</strong> </td>
            </tr>
          </tfoot>
        </table>
        <div class="form-group">
          <label for="order_notes">
            {{'Notes' | localize}}
          </label>
          <textarea name="order_notes" id="order_notes" cols="30" rows="5"
                    class="form-control"
                    [(ngModel)]="order.notes"></textarea>
        </div>
      </tab>
      <tab [heading]="'ShippingAddress' | localize" class="pt-3 px-2" *ngIf="order.shippingAddress">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="FirstName">
            {{ "FirstName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="FirstName"
              id="FirstName"
              required
              maxlength="255"
              [(ngModel)]="order.shippingAddress.firstName"
              #FirstNameModel="ngModel"
              #FirstNameEl
            />
            <abp-validation-summary
              [control]="FirstNameModel"
              [controlEl]="FirstNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="LastName">
            {{ "LastName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="LastName"
              id="LastName"
              required
              maxlength="255"
              [(ngModel)]="order.shippingAddress.lastName"
              #LastNameModel="ngModel"
              #LastNameEl
            />
            <abp-validation-summary
              [control]="LastNameModel"
              [controlEl]="LastNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="CompanyName">
            {{ "Company Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="CompanyName"
              id="CompanyName"
              maxlength="500"
              [(ngModel)]="order.shippingAddress.companyName"
              #CompanyNameModel="ngModel"
              #CompanyNameEl
            />
            <abp-validation-summary
              [control]="CompanyNameModel"
              [controlEl]="CompanyNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Address">
            {{ "Address" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Address"
              id="Address"
              maxlength="500"
              [(ngModel)]="order.shippingAddress.address"
              #AddressModel="ngModel"
              #AddressEl
            />
            <abp-validation-summary
              [control]="AddressModel"
              [controlEl]="AddressEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="State">
            {{ "State" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="State"
              id="State"
              maxlength="255"
              [(ngModel)]="order.shippingAddress.state"
              #StateModel="ngModel"
              #StateEl
            />
            <abp-validation-summary
              [control]="StateModel"
              [controlEl]="StateEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="City">
            {{ "City" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="City"
              id="City"
              maxlength="255"
              [(ngModel)]="order.shippingAddress.city"
              #CityModel="ngModel"
              #CityEl
            />
            <abp-validation-summary
              [control]="CityModel"
              [controlEl]="CityEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Postcode">
            {{ "Postcode" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Postcode"
              id="Postcode"
              maxlength="10"
              [(ngModel)]="order.shippingAddress.postcode"
              #PostcodeModel="ngModel"
              #PostcodeEl
            />
            <abp-validation-summary
              [control]="PostcodeModel"
              [controlEl]="PostcodeEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Country">
            {{ "Country" | localize }}
          </label>
          <div class="col-md-9">
            <select class="form-control"
                    name="country"
                    id="country"
                    [(ngModel)]="order.shippingAddress.country"
                    #countryModel="ngModel"
                    #countryEl>
              <option *ngFor="let country of CountryISO | keyvalue" [value]="country.key">{{ country.key }}</option>
            </select>
            <abp-validation-summary
              [control]="countryModel"
              [controlEl]="countryEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
      <tab [heading]="'BillingAddress' | localize" class="pt-3 px-2" *ngIf="order.billingAddress">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="FirstName">
            {{ "FirstName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="FirstName"
              id="FirstName"
              required
              maxlength="255"
              [(ngModel)]="order.billingAddress.firstName"
              #FirstNameModel="ngModel"
              #FirstNameEl
            />
            <abp-validation-summary
              [control]="FirstNameModel"
              [controlEl]="FirstNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="LastName">
            {{ "LastName" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="LastName"
              id="LastName"
              required
              maxlength="255"
              [(ngModel)]="order.billingAddress.lastName"
              #LastNameModel="ngModel"
              #LastNameEl
            />
            <abp-validation-summary
              [control]="LastNameModel"
              [controlEl]="LastNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="CompanyName">
            {{ "Company Name" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="CompanyName"
              id="CompanyName"
              maxlength="500"
              [(ngModel)]="order.billingAddress.companyName"
              #CompanyNameModel="ngModel"
              #CompanyNameEl
            />
            <abp-validation-summary
              [control]="CompanyNameModel"
              [controlEl]="CompanyNameEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="TaxId">
            {{ "TaxId" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="TaxId"
              id="TaxId"
              maxlength="32"
              [(ngModel)]="order.billingAddress.taxId"
              #TaxIdModel="ngModel"
              #TaxIdEl
            />
            <abp-validation-summary
              [control]="TaxIdModel"
              [controlEl]="TaxIdEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="email">
            {{ "Email" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              required
              maxlength="256"
              [(ngModel)]="order.billingAddress.email"
              #emailModel="ngModel"
              #emailEl
            />
            <abp-validation-summary
              [control]="emailModel"
              [controlEl]="emailEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="phone">
            {{ "Phone" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="tel"
              class="form-control"
              name="phone"
              id="phone"
              required
              maxlength="32"
              [(ngModel)]="order.billingAddress.phone"
              #phoneModel="ngModel"
              #phoneEl
            />
            <abp-validation-summary
              [control]="phoneModel"
              [controlEl]="phoneEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Address">
            {{ "Address" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Address"
              id="Address"
              maxlength="500"
              [(ngModel)]="order.billingAddress.address"
              #AddressModel="ngModel"
              #AddressEl
            />
            <abp-validation-summary
              [control]="AddressModel"
              [controlEl]="AddressEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="State">
            {{ "State" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="State"
              id="State"
              maxlength="255"
              [(ngModel)]="order.billingAddress.state"
              #StateModel="ngModel"
              #StateEl
            />
            <abp-validation-summary
              [control]="StateModel"
              [controlEl]="StateEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="City">
            {{ "City" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="City"
              id="City"
              maxlength="255"
              [(ngModel)]="order.billingAddress.city"
              #CityModel="ngModel"
              #CityEl
            />
            <abp-validation-summary
              [control]="CityModel"
              [controlEl]="CityEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Postcode">
            {{ "Postcode" | localize }}
          </label>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="Postcode"
              id="Postcode"
              maxlength="10"
              [(ngModel)]="order.billingAddress.postcode"
              #PostcodeModel="ngModel"
              #PostcodeEl
            />
            <abp-validation-summary
              [control]="PostcodeModel"
              [controlEl]="PostcodeEl"
            ></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="Country">
            {{ "Country" | localize }}
          </label>
          <div class="col-md-9">
            <select class="form-control"
                    name="country"
                    id="country"
                    [(ngModel)]="order.billingAddress.country"
                    #countryModel="ngModel"
                    #countryEl>
              <option *ngFor="let country of CountryISO | keyvalue" [value]="country.key">{{ country.key }}</option>
            </select>
            <abp-validation-summary
              [control]="countryModel"
              [controlEl]="countryEl"
            ></abp-validation-summary>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editOrderForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
